<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>current weather</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body >
        <table >
            <thead>
            <th>city name</th>
            <th>temperature</th>
            <th>description</th>
            <th>date</th>
            </thead>
            <tbody>
            <tr th:each="weather: ${conditions}">
                <td th:text="${weather.getCityName()}"></td>
                <td th:text="${weather.getTemperature()}" >&deg;C</td>
                <td th:text="${weather.getDescription()}"></td>
                <td th:text="${weather.getDate()}"></td>

            </tr>
            </tbody>
        </table>
        <a th:href="@{/api/cities}">Display all cities in database</a>
        <a th:href="@{/api/forecasts}">Display forecasts for cities</a>
</body>
</html>